USE [master]
GO
/****** Object:  Database [ProjectManagement]    Script Date: 7/6/2026 12:48:49 AM ******/
CREATE DATABASE [ProjectManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ProjectManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ProjectManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectCode] [nvarchar](50) NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[Budget] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[Manager] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[AssignedUserId] [int] NULL,
	[TaskName] [nvarchar](200) NOT NULL,
	[Description] [varchar](max) NULL,
	[Priority] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[DueDate] [date] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[AssignedTo] [nvarchar](100) NULL,
	[EstimatedHours] [int] NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Token] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [ProjectCode], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedDate], [CreatedBy], [IsActive], [Budget], [Notes], [Manager]) VALUES (1, N'EMS001', N'Employee Management System', N'Web application for managing employee records, attendance, and payroll.', CAST(N'2026-05-01' AS Date), CAST(N'2026-08-03' AS Date), N'In Progress', CAST(N'2026-06-30T12:00:10.687' AS DateTime), N'Admin', 1, CAST(0.00 AS Decimal(18, 2)), N'', N'Ann Mariya')
INSERT [dbo].[Projects] ([ProjectId], [ProjectCode], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedDate], [CreatedBy], [IsActive], [Budget], [Notes], [Manager]) VALUES (3, N'HAP003', N'Hospital Appointment Portal', N'Online appointment booking system for patients and doctors.', CAST(N'2026-07-10' AS Date), CAST(N'2026-11-15' AS Date), N'Planning', CAST(N'2026-07-04T23:48:43.603' AS DateTime), N'Admin', 1, CAST(0.00 AS Decimal(18, 2)), N'', N'Sneha Thomas')
INSERT [dbo].[Projects] ([ProjectId], [ProjectCode], [ProjectName], [Description], [StartDate], [EndDate], [Status], [CreatedDate], [CreatedBy], [IsActive], [Budget], [Notes], [Manager]) VALUES (4, N'IMS002', N'Inventory Management System', N'Inventory tracking system with stock monitoring and purchase management.', CAST(N'2026-06-15' AS Date), CAST(N'0206-10-20' AS Date), N'Planning', CAST(N'2026-07-05T20:20:08.080' AS DateTime), N'Admin', 1, CAST(0.00 AS Decimal(18, 2)), N'', N'John Mathew')
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [AssignedUserId], [TaskName], [Description], [Priority], [Status], [DueDate], [CreatedDate], [CreatedBy], [IsActive], [AssignedTo], [EstimatedHours], [StartDate]) VALUES (2, 1, NULL, N'Design Login Module', N'Create secure login page and authentication.', N'High', N'Completed', CAST(N'2026-05-10' AS Date), CAST(N'2026-06-30T22:42:17.410' AS DateTime), N'Admin', 0, N'Ann Mariya', 18, CAST(N'2026-05-05' AS Date))
INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [AssignedUserId], [TaskName], [Description], [Priority], [Status], [DueDate], [CreatedDate], [CreatedBy], [IsActive], [AssignedTo], [EstimatedHours], [StartDate]) VALUES (8, 4, NULL, N'Database Schema Setup', N'Design inventory database and relationships.', N'High', N'In Progress', CAST(N'2026-06-25' AS Date), CAST(N'2026-07-04T13:06:28.780' AS DateTime), N'Admin', 0, N'John Mathew', 24, CAST(N'2026-06-18' AS Date))
INSERT [dbo].[Tasks] ([TaskId], [ProjectId], [AssignedUserId], [TaskName], [Description], [Priority], [Status], [DueDate], [CreatedDate], [CreatedBy], [IsActive], [AssignedTo], [EstimatedHours], [StartDate]) VALUES (9, 3, NULL, N'Appointment Booking UI', N'Develop appointment booking interface.', N'Medium', N'Pending', CAST(N'2026-07-18' AS Date), CAST(N'2026-07-05T21:32:25.697' AS DateTime), N'Admin', 1, N'Sneha Thomas', 20, CAST(N'2026-07-12' AS Date))
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [FullName], [Email], [PasswordHash], [Token], [Role], [IsActive], [CreatedDate], [CreatedBy]) VALUES (1, N'admin', N'System Administrator', N'admin@project.com', N'Admin@123', NULL, N'Admin', 1, CAST(N'2026-06-05T20:04:58.983' AS DateTime), N'System')
INSERT [dbo].[Users] ([UserId], [UserName], [FullName], [Email], [PasswordHash], [Token], [Role], [IsActive], [CreatedDate], [CreatedBy]) VALUES (3, N'ann', N'Ann Mariya Eldhose', N'annmariya@company.com', N'ann123', NULL, N'User', 1, CAST(N'2026-06-24T11:46:24.493' AS DateTime), N'admin')
INSERT [dbo].[Users] ([UserId], [UserName], [FullName], [Email], [PasswordHash], [Token], [Role], [IsActive], [CreatedDate], [CreatedBy]) VALUES (4, N'Sneha', N'Sneha Thomas', N'sneha@company.com', N'sneha123', NULL, N'User', 1, CAST(N'2026-06-25T11:42:05.720' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F28456E9B6EBC1]    Script Date: 7/6/2026 12:48:50 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('') FOR [Manager]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([AssignedUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
/****** Object:  StoredProcedure [dbo].[Login_GetUserDetails]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login_GetUserDetails]
(
    @UserName NVARCHAR(100)
)
AS
BEGIN
    SELECT *
    FROM Users
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[Login_ValidateUser]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login_ValidateUser]
(
    @UserName NVARCHAR(100),
    @Password NVARCHAR(100)
)
AS
BEGIN
    SELECT *
    FROM Users
    WHERE UserName = @UserName
      AND PasswordHash = @Password;
END
GO
/****** Object:  StoredProcedure [dbo].[Project_Add]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Project_Add]
(
    @ProjectCode NVARCHAR(50),
    @ProjectName NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @StartDate DATETIME,
    @EndDate DATETIME,
    @Status NVARCHAR(50),
    @CreatedBy NVARCHAR(20)
)
AS
BEGIN
    INSERT INTO Projects
    (
        ProjectCode,
        ProjectName,
        Description,
        StartDate,
        EndDate,
        Status,
        CreatedDate,
        CreatedBy,
        IsActive
    )
    VALUES
    (
        @ProjectCode,
        @ProjectName,
        @Description,
        @StartDate,
        @EndDate,
        @Status,
        GETDATE(),
        @CreatedBy,
        1
    )
END
GO
/****** Object:  StoredProcedure [dbo].[Project_GetAll]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Project_GetAll]
AS
BEGIN
    SELECT *
    FROM Projects
    WHERE IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[Project_GetById]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Project_GetById]
(
    @ProjectId INT
)
AS
BEGIN
    SELECT *
    FROM Projects
    WHERE ProjectId = @ProjectId
END
GO
/****** Object:  StoredProcedure [dbo].[Project_Update]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Project_Update]
(
    @ProjectId INT,
    @ProjectCode NVARCHAR(50),
    @ProjectName NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @StartDate DATETIME,
    @EndDate DATETIME,
    @Status NVARCHAR(50)
)
AS
BEGIN
    UPDATE Projects
    SET
        ProjectCode = @ProjectCode,
        ProjectName = @ProjectName,
        Description = @Description,
        StartDate = @StartDate,
        EndDate = @EndDate,
        Status = @Status
    WHERE ProjectId = @ProjectId
END
GO
/****** Object:  StoredProcedure [dbo].[User_Add]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Add]
(
    @UserName NVARCHAR(100),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(200),
    @Role NVARCHAR(50),
    @CreatedBy NVARCHAR(100)
)
AS
BEGIN
    INSERT INTO Users
    (
        UserName,
        FullName,
        Email,
        PasswordHash,
        Role,
        IsActive,
        CreatedDate,
        CreatedBy
    )
    VALUES
    (
        @UserName,
        @FullName,
        @Email,
        @PasswordHash,
        @Role,
        1,
        GETDATE(),
        @CreatedBy
    )
END
GO
/****** Object:  StoredProcedure [dbo].[User_Delete]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Delete]
    @UserId INT
AS
BEGIN
    DELETE FROM Users
    WHERE UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[User_GetAll]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_GetAll]
AS
BEGIN
   SELECT
		UserId,
		UserName,
		FullName,
		Email,
		PasswordHash,
		Token,
		Role,
		IsActive,
		CreatedDate,
		CreatedBy
   FROM Users
END
GO
/****** Object:  StoredProcedure [dbo].[User_GetById]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_GetById]
    @UserId INT
AS
BEGIN
    SELECT
        UserId,
        UserName,
        FullName,
        Email,
        PasswordHash,
        Token,
        Role,
        IsActive,
        CreatedDate,
        CreatedBy
    FROM Users
    WHERE UserId = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[User_Update]    Script Date: 7/6/2026 12:48:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Update]
(
    @UserId INT,
    @UserName NVARCHAR(100),
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(MAX),
    @Role NVARCHAR(50),
    @IsActive BIT
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET
        UserName = @UserName,
        FullName = @FullName,
        Email = @Email,
        Role = @Role,
        IsActive = @IsActive,
        PasswordHash = CASE
                           WHEN @PasswordHash IS NULL OR @PasswordHash = ''
                               THEN PasswordHash
                           ELSE @PasswordHash
                       END
    WHERE UserId = @UserId;
END
GO
USE [master]
GO
