<div class="sidebar">

    <div class="brand">

        <div class="brand-icon">
            PMS
        </div>

        <div class="brand-text">

            <h2>Project Manager</h2>

            <span>Management Portal</span>

        </div>

    </div>

    <nav>

        <button
            routerLink="/dashboard"
            routerLinkActive="active">

            <span class="material-icons">
                dashboard
            </span>

            Dashboard

        </button>

        <button
            routerLink="/projects"
            routerLinkActive="active">

            <span class="material-icons">
                folder
            </span>

            Projects

        </button>

        <button
            routerLink="/tasks"
            routerLinkActive="active">

            <span class="material-icons">
                task
            </span>

            Tasks

        </button>

        <button
            routerLink="/users"
            routerLinkActive="active">

            <span class="material-icons">
                group
            </span>

            Users

        </button>

    </nav>

</div>